steps:
- uses: actions/checkout@master
- uses: codecov/codecov-action@v2
  with:
    files: ./coverage1.xml,./coverage2.xml # optional
    flags: pytest # optional
    name: codecov-umbrella # optional
    fail_ci_if_error: true # optional (default = false)
    verbose: true # optional (default = false)